<div id="search" class="search-box"></div>

<script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
        if (window.PagefindUI) {
            new PagefindUI({ element: "#search", showSubResults: true });
        }
    });
</script>

<style is:global>
    /* Minimal overrides for Pagefind to match Tailwind */
    .pagefind-ui__drawer {
        z-index: 100;
    }
</style>
